/* RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
	list-style: none;
    font-size: 1em;
    color: black;
    font-weight: normal;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
}


/* FONTS */

@font-face{font-family: Helvetica Neue;
    src:url(‘fonts/HelveticaNeueLTStd-Bd.eot);
    src:url(fonts/HelveticaNeueLTStd-Bd.eot?#iefix) format('embedded-opentype'),
    url(fonts/HelveticaNeueLTStd-Bd.woff2) format('woff2'),
    url(fonts/HelveticaNeueLTStd-Bd.woff) format('woff'),
    url(fonts/HelveticaNeueLTStd-Bd.ttf) format('truetype'),
    url(fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd) format('svg');
    font-weight: bold;
    font-style: normal
}

@font-face{font-family: Helvetica Neue;
    src:url(fonts/HelveticaNeueLTStd-Roman.eot);
    src:url(fonts/HelveticaNeueLTStd-Roman.eot?#iefix) format('embedded-opentype'),
    url(fonts/HelveticaNeueLTStd-Roman.woff2) format('woff2'),
    url(fonts/HelveticaNeueLTStd-Roman.woff) format('woff'),
    url(fonts/HelveticaNeueLTStd-Roman.ttf) format('truetype'),
    url(fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman) format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face{font-family: Helvetica Neue;
    src:url(fonts/HelveticaNeueLTStd-It.eot);
    src:url(fonts/HelveticaNeueLTStd-It.eot?#iefix) format('embedded-opentype'),
    url(fonts/HelveticaNeueLTStd-It.woff2) format('woff2'),
    url(fonts/HelveticaNeueLTStd-It.woff) format('woff'),
    url(fonts/HelveticaNeueLTStd-It.ttf) format('truetype'),
    url(fonts/HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It) format('svg');
    font-weight: normal;
    font-style: italic
}


/* GENERAL */

body {
    font: 13px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin: 0 30px 30px 30px;
    display: none;
}

header > a *, div > ul > li > a {
    font-weight: bold;
}

li a:hover, div > ul > li > a, p a {
    border-bottom: 1px solid #000;
}

p a:hover, div > ul > li > a:hover {
    border-bottom: none;
}

h2 {
    font-size: 5.5em;
    margin: 0 0 7px -4px;
    padding-top: 25px;
    letter-spacing: -.02em;
    position: absolute;
}

h3 {
    margin-bottom: 1.2em;
}

.em-dash {
    letter-spacing: -.3em;
}

p + p {
    text-indent: 2em;
}

i {
    font-style: italic;
}


/* SIDEBAR */

header {
    position: fixed;
    width: 120px;
    top: 60px;
    z-index: 1;
}

li > ul {
    margin-left: 1em;
    text-indent: -1em;
}

div > ul > li:last-child, .visit {
    margin-top: 1.2em;
}

#main-menu {
    margin-top: 2rem;
    height: auto;
    overflow: hidden;
}

.open-menu {
    display: none;
}

.language-change {
    position: fixed;
    bottom: 30px;
}

.strike, .language-change a:hover {
    text-decoration: line-through;
}

.strike {
    pointer-events: none;
}

.language-change a {
    display: block;
}


/* CONTENT */

main {
    margin-left: 150px;
}

.images {
    max-width: 1024px;
    margin-left: 254px;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 450ms;
}

.img-wrapper{
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    margin-bottom: 2%;
}

.project-description {
    float: left;
    width: 230px;
}

.projects > div:not(:first-of-type) {
    padding-top: 3.75rem;
}

.projects > div:first-of-type, .about article {
    padding-top: 7.75rem;
}

.specifications {
    margin: 1rem 0;
}

.specifications, .features, .visit {
    text-indent: 0;
}


/* ABOUT */

.about p {
    max-width: 550px;
    font-size: 1.7em;
}

.about p + p {
    text-indent: 0;
}

.about p:first-child {
    margin-bottom: 1.2em;
}

.pt:after {
    content: 'Português';
}

.en:after {
    content: 'English';
}


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    
    .project-description {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
    
    .images {
        margin-left: 0;
    }
    
}

@media screen and (max-width: 767px) {
    
    body {
        margin: 0
    }
    
    /* NAVIGATION */
    
    header {
        margin-left: .75rem;
    }
    
    header > a, .language-change {
        position: fixed;
        top: 1rem;
        z-index: 2;
    }
    
    .language-change {
        bottom: auto;
        right: 50px;
    }
    
    aside {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        background: white;
		overflow-y: scroll;
    }
	
	aside > div {
		background: white;
		z-index: 2;
	}
    
    #main-menu {
		overflow-y: scroll;
		display: block;
		position: fixed;
		top: 57px; right: 0; bottom: 0; left: 0;
		margin: 0;
    }
	
	#main-menu ul {
		display: block;
		background: white;
	}
	
	#main-menu ul > li:first-child {
        display: none;
    }
	
	#main-menu ul > li:last-child a {
		margin: 0;
	}
	
	#main-menu ul, #main-menu li {
		margin: 0;
		text-indent: 0;
	}
	
	#main-menu > ul {
	}
	
	#main-menu a {
		text-indent: 1em;
        margin-left: 0;
		line-height: 0;
		padding: 1.5rem 0 1rem;
		display: block;
        border-bottom: 1px solid black;
	}
    
    aside > div {
        position: fixed;
        height: 3.5rem;
        width: 100%;
		border-bottom: 1px solid black;
    }
    
    li a:hover {
        border-bottom: none;
    }
    
    main {
        margin: 4.125rem 0 0;
    }
    
    h2 {
        font-size: 3em;
        line-height: .9em;
        margin: 2em .625rem .625em;
        padding: 0;
        position: static;
    }
    
    .projects > div:first-of-type {
        padding-top: 3.75rem;
        margin-top: -3.75rem;
    }

    .project-description, .about article {
       /* border-top: 1px solid black;
        padding-top: 1.2rem;*/
        margin: 0 .75rem 1rem;
    }
    
    a.open-menu {
        display: block;
        width: 2.75rem;
        height: 2.75rem;
        position: absolute;
        top: .625rem;
        right: .25rem;
        cursor: pointer;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: .5s;
    }
    
    a.open-menu.selected {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    .about article {
        padding: 0;
    }
    
    .about p {
        font-size: 1.5em;
    }
    
}