* {
    margin: 0;
    padding: 0;
    border: 0;
	list-style: none;
    font-size: 1em;
    color: black;
    font-weight: normal;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    box-sizing: border-box;
}