---
---


{% include head.html %}

    {% include header.html %}
        
        <section class="projects">

            <h2>Projects<span class="em-dash">&mdash;&mdash;</span></h2>

            {% for project in site.projects %}
              
                {{ project }}
                                
            {% endfor %}
        
        <section class="about">

            <h2>About &amp; Contact</h2> 

            <article>
                <p>Vitor Carvalho is a graphic designer working at the intersection of print and digital for clients spanning culture and commerce. His work has been published by Designboom, Folio and Sandu Publishing, among others. Vitor received his BFA in Graphic Design from the Universidade do Estado de Minas Gerais, completed after a year studying at Parsons School of Design, in New York City. If you want to know more you might want to <a href="files/vitor-resume.pdf" title="Download Resume" target="_blank">download his resume</a> or get in touch:</p>
                <br>
                <p>+55 31 985 618 597<br><a href="mailto:vitor@vitorcarvalho.net">vitor@vitorcarvalho.net</a></p>
            </article>

        </section>

    </main>

{% include footer.html %}
