@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: black;
  font-weight: normal;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 150%;
}

body {
  background-color: #f5f5f2;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

h1 {
  display: none;
  position: fixed;
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  background: #f6d9d3;
  text-align: right;
  font-size: 1.25rem;
}

.wrapper {
  width: 100%;
}

.data-chat main {
  align-items: normal;
}

#menu-toggle, label[for=menu-toggle] {
  display: none;
}

#menu {
  display: flex;
  z-index: 4;
}
#menu label span {
  display: block;
  width: 32px;
  height: 3px;
  margin: 0 0 7px;
  background: black;
}
#menu label span:first-child {
  transform-origin: 0% 0%;
}
#menu label span:last-child {
  transform-origin: 0% 100%;
}
#menu input[type=checkbox], #menu label {
  position: fixed;
  left: 18px;
  top: 18px;
  width: 32px;
  height: 32px;
  z-index: 5;
}
#menu input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
}
#menu input[type=checkbox]:checked ~ aside {
  display: flex !important;
}
#menu input[type=checkbox]:checked ~ label span {
  transform: rotate(45deg) translate(-2px, -1px);
}
#menu input[type=checkbox]:checked ~ label span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menu input[type=checkbox]:checked ~ label span:last-child {
  transform: rotate(-45deg) translate(0, -1px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main > section {
  width: 100%;
  max-width: 34rem;
  overflow: hidden;
  margin: 1rem;
}
main .login {
  max-width: 28rem;
  background-color: white;
}

.log {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.log .wrapper {
  flex: 1;
}
.log main {
  height: 100%;
  flex-direction: column;
  padding: 1rem;
}
.log header {
  text-align: center;
}
.log .logo {
  max-width: 24rem;
  padding: 1rem;
  text-align: center;
}

.dashboard .wrapper {
  display: flex;
}
.dashboard aside {
  margin: 2rem;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard aside header {
  padding-bottom: 1rem;
}
.dashboard aside header img {
  width: 100%;
}
.dashboard aside .data {
  line-height: 2;
}
.dashboard aside .selected::before {
  content: "• ";
  color: #aabaa8;
}
.dashboard main {
  background-color: white;
  margin: 1rem;
  border-radius: 1em;
  height: calc(100vh - 2rem);
  flex: 1;
}

.login {
  border-radius: 1em;
}
.login h2 {
  color: #f6d9d3;
  background-color: #883f39;
  padding: 1.5rem 2.5rem;
}

h2 {
  padding: 1rem 0;
}

h2, h3, h4, .logged {
  font-weight: bold;
}

input, label, a {
  display: block;
  width: 100%;
}

input[type=text] {
  padding: 1em 0;
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
}
input[type=text]:focus {
  outline: none;
}
input[type=text].message {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 1rem;
  height: 2.75rem;
}

input[type=checkbox] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.chat-submit {
  position: relative;
}
.chat-submit input[type=submit] {
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  background-color: #aabaa8;
  cursor: pointer;
}

::placeholder {
  color: lightgray;
}

.forgot-password {
  padding-top: 1rem;
  text-align: right;
}

.inputs {
  padding: 1.5rem 2.5rem;
}
.inputs > div {
  padding: 1em 0;
}
.inputs label {
  font-weight: bold;
}

button {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #aabaa8;
}
button.upload-file {
  padding: 0.5rem 0.75rem;
  background-color: #aabaa8;
  font-weight: normal;
  margin-top: 0.5rem;
}
button:hover {
  cursor: pointer;
  background-color: #f6d9d3;
}

.login-action {
  display: flex;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
}
.login-action > div {
  display: flex;
  align-items: center;
}

.upload main {
  align-items: start;
}
.upload main > section {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  justify-content: center;
}

.upload-area {
  border: 1px dashed gray;
  border-radius: 1em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-height: 800px;
}
.upload-area svg {
  max-width: 150px;
  stroke-width: 2px;
  stroke: #aabaa8;
  fill: none;
  margin-bottom: 1rem;
}
.upload-area button {
  margin-top: 1rem;
}

.account svg {
  width: 32px;
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.account .sign-out {
  color: red;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-log > div {
  padding-bottom: 1rem;
}
.chat-log ul li {
  display: flex;
  margin: 0.75rem 0;
}
.chat-log .color {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 3rem;
  margin-right: 0.5rem;
}
.chat-log .color.sky {
  background-color: #3c89fd;
}
.chat-log .color.forest {
  background-color: #08542a;
}
.chat-log .color.peach {
  background-color: #ffbd91;
}

.chat-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.speaker {
  margin: 1rem 0;
}
.speaker.you span {
  background-color: #aabaa8;
}
.speaker.chama span {
  color: #f6d9d3;
  background-color: #883f39;
}
.speaker span {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

@media screen and (max-width: 720px) {
  h1 {
    display: block;
  }
  #menu-toggle, label[for=menu-toggle] {
    display: block;
  }
  .log .logo {
    padding: 1rem 1rem 0;
    width: 100%;
  }
  .log .inputs, .log .login-action {
    padding: 0 1.25rem 1.25rem;
  }
  .log .login-action {
    display: block;
  }
  .log .login-action .login-button {
    margin-top: 1rem;
    width: 100%;
  }
  .dashboard main {
    margin-top: 4.75rem;
    height: calc(100vh - 6.25rem);
  }
  .dashboard aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    z-index: 1;
    max-width: 100%;
    margin: 0;
    padding: 3rem 1em 1em;
    height: 100vh;
  }
  .dashboard aside header {
    display: none;
  }
  .dashboard aside .data {
    line-height: 2.25;
  }
  h2 {
    padding: 0 0 0.5rem;
  }
  .speaker {
    margin: 1rem 0 0.75rem;
  }
}

/*# sourceMappingURL=index.css.map */
