<body>

    <header id="home">
        
        <a href="{% if page.url == '/about' %}/{% endif %}#">
            <h1>Vitor Carvalho</h1>
            <p>{{ site.role[site.active_lang] }}</p>
        </a>
        
        <aside>
            
            <div>
                <a class="open-menu"> 
                    <?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve"><polygon points="21.4,14.5 15,8 8.6,14.5 9.2,15.1 14.5,9.6 14.5,22 15.4,22 15.4,9.6 20.8,15.1 "/>
                    </svg>
                </a>
            </div>
            
            <nav id="main-menu">
               
				<ul>
                                           
					<li><a href="{% if page.url == '/about' %}/{% else %}#{% endif %}">{{ site.section-title[site.active_lang] }}</a></li>

					<li>

						<ul id="project-list">

							{% for project in site.projects %}

							<li><a href="{% if page.url == '/about' %}/{% unless site.active_lang == site.default_lang %}{{site.active_lang}}{% endunless %}{% endif %}#{{ project.id | remove: '/projects/' }}">{{ project.title }}</a></li>

							{% endfor %}

						</ul>

					</li>

					<li><a href="about">{{ site.about[site.active_lang] }}</a></li>
                        
				</ul>
                    
            </nav>
            
            <nav class="language-change">
                
                {% for lang in site.languages %}
            
                    <a class="{{ lang }} {% if lang == site.active_lang %} strike {% endif %}" href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ lang }}{{page.url}} {% endif %}"></a>
                    
                {% endfor %}
                
            </nav>
            
        </aside>
        
    </header>

    <main>