@import 'reset';
@import 'variables';
@import 'font';

// GENERAL

body {
    font-family: "h-textbook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: $lineHeight;
    margin: 0 0 1.875rem;
    font-size: 18px;
    opacity: 0;
    transition: opacity 300ms;
}

p a {
    border-bottom: 1px solid #000;

    &:hover {
        border-bottom: none;
    }
}

li a:hover {
    border-bottom: 1px solid #000;
}

.em-dash {
    letter-spacing: -.3em;
}

article p + p {
    margin-top: $lineHeight;
}

i {
    font-style: italic;
}

::selection {
    background-color: rgba(0, 0, 0, 0.1);
}


// SIDEBAR

aside {
    width: $menuWidth;

    & > div {
        position: sticky;
        top: 2rem;
    }

    padding-left: $leftMargin;
}

ul > li {
    margin-left: 1em;
    text-indent: -1em;
}

.visit, #menu {
    margin-top: $lineHeight;
}


// CONTENT 

main {
    width: 100%;
    background: white;
    padding-top: 1.75em;
    display: flex;
    border-top: 1px solid black;

    .content-wrapper {
        flex: 1;
    }
}

h3 {
    margin-bottom: $lineHeight;
}

.images {
    max-width: 1280px;
    margin-left: $descriptionWidth + $gutter;
}

.image-wrapper { 
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    margin-bottom: 2%;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 750ms;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &.lazyloaded {
        opacity: 1;
    }
}

.loading-animation {
    opacity: 1;
    background: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: glow 2s infinite;
    position: absolute;
    left: 50%;
    top: 50%;
}

.lazyloaded ~ .loading-animation {
    display: none;
}

@keyframes glow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.active {
    color: magenta;
    pointer-events: none;
}

.content-wrapper {
    padding: 0 1.75rem;
}

.projects {
    & > div:not(:first-of-type) {
        padding-top: 2rem;
    }

    .project-description {
        float: left;
        width: $descriptionWidth;
        position: sticky;
        top: 2rem;
    }

    .project {
        .specifications, .features {
            margin-top: $lineHeight;
        }
        
        .specifications {
            text-indent: 0;
        
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .features, .visit {
            text-indent: 0;
        }
        
        &:last-of-type .image-wrapper:last-of-type {
            margin-bottom: 0;
        }
    }

}

// ABOUT 

header {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    padding: 1.5rem 1.75rem 0 $leftMargin;
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-between;

    .about-wrapper {
        display: flex;

        .about {
            margin-right: 2em;
            max-width: 540px;
        }
    }

    .language-change {
        padding-left: 1.75em;

        a {
            display: block;
        }
    }
}


// FOOTER

footer {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    
    a svg {
        fill: magenta;
        width: 60px;
        height: 60px;
    }
}


// ERROR PAGE

.error {
    padding: 3em;
    line-height: 1;
    width: 100%;
    height: 100vh;

    h1 {
        font-size: 6em;
        letter-spacing: -0.04em;
    }
}


// MEDIA QUERIES

@media screen and (max-width: 1024px) {

    .project {
        .project-description {
            float: none;
            width: auto;
            margin-bottom: 1.25rem;
            position: static;
        }
        
        .images {
            margin: 0;
        }
    }
    
}

@media screen and (max-width: 767px) {

    // GENERAL
    
    body {
        font-size: .925em;
        line-height: 1.2;
        margin: 0;
    }

    // SIDEBAR
    
    aside {
        font-size: 1.25em;
        width: auto;
        padding: 1.5em 1em 1em;
        border-bottom: 1px solid #000;

        & > div {
            position: static;
        }
    }
    
    #menu {
        line-height: 1.6;
    }
    
    // CONTENT
	
    main {
        display: block;

        .content-wrapper {
            width: 100%;
            padding: 0 1rem 1rem;
        }

        aside {
            padding-top: 0;
        }

        .project {
            padding-top: 2rem;

            img {
                cursor: default;
            }
    
            &:not(:last-of-type) {
                border-bottom: 1px solid #000;
                padding-bottom: 2rem;
            }
        }
    }

    // ABOUT

    header {
        flex-direction: column-reverse;
        font-size: 1.25em;
        margin: 0;
        padding: 1em 0 0;
        background: black;

        .language-change, .about, .contact {
            padding: 0 1em 1em;

            &, p {
                color: white;
            }

            a {
                color: inherit;

                &.active {
                    color: lime;
                }
            }
        }

        .language-change {
            border-bottom: 1px solid #fff;

            a {
                display: inline;
                margin-right: .5em;
            }
        }

        .about-wrapper {
            display: block;
            
            .about {
                max-width: 100%;
                margin: 1em 0 0;
            }
        }

    }

    // FOOTER

    footer {
        display: block;
    }
}