@import 'reset';
@import 'variables';
@import url("https://use.typekit.net/iwz1cdz.css");

// GENERAL

body {
    font-family: neue-haas-grotesk-text, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: $lineHeight;
    margin: 0 0 1.875rem;
    font-size: 18px;
    opacity: 0;
    transition: opacity 500ms;
}

p a {
    border-bottom: 1px solid #000;

    &:hover {
        border-bottom: none;
    }
}

li a:hover {
    border-bottom: 1px solid #000;
}

.em-dash {
    letter-spacing: -.3em;
}

article p + p {
    margin-top: $lineHeight;
}

i {
    font-style: italic;
}

::selection {
    background-color: rgba(255, 255, 160, .99);
}

img {
    user-select: none;
}


// SIDEBAR

aside > div, .project-description {
    position: sticky;
    top: 2rem;
}

aside {
    width: $menuWidth;
    margin-right: $interiorMargin;

    ul > li {
        margin-left: 1em;
        text-indent: -1em;
    }
}

.visit {
    margin-top: $lineHeight;
}


// CONTENT 

main {
    width: 100%;
    background: #fff;
    display: flex;
    border-top: 1px solid black;
    padding: 2rem $margin $margin;

    .content-wrapper {
        flex: 1;
    }

    // Schedule

    &.schedule {
        flex-direction: column;

        section {
            line-height: 1.8em;
            margin-bottom: 1.2em;

            p {
                display: inline-block;
                margin-left: 1em;
            }

            span {
                flex: 0 0 4.5em;
            }
            
            &:not(:first-of-type) {
                padding-top: 1.2em;
                border-top: 1px solid #000;
            }

            h2 {
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 2em;
            }

            li {
                display: flex;
            }
        }
    }
}

.past, .past * {
    color: #d1d1d1;
}

.current, .current * {
    color: blue;
}

h3 {
    margin-bottom: $lineHeight;
}

.images {
    max-width: 1280px;
    margin-left: $descriptionWidth + $interiorMargin;
}

.image-wrapper { 
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    margin-bottom: 2%;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 750ms;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &.lazyloaded {
        opacity: 1 !important;
    }
}

.active {
    text-decoration: line-through;
    pointer-events: none;
}

.projects {
    & > div:not(:first-of-type) {
        padding-top: $lineHeight;
    }

    .project-description {
        float: left;
        width: $descriptionWidth;
    }

    .project {
        .specifications {
            text-indent: 0;
        
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .features, .visit {
            text-indent: 0;
        }
        
        &:last-of-type .image-wrapper:last-of-type {
            margin-bottom: 0;
        }
    }

}

// ABOUT 

header {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    padding: 1.5rem $margin 0;
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-between;

    .about-wrapper {
        display: flex;

        .about {
            margin-right: $interiorMargin;
            max-width: $descriptionWidth + $menuWidth + $interiorMargin;
        }
    }

    .language-change {
        padding-left: 1.75em;

        a {
            display: block;
        }
    }
}


// FOOTER

footer {
    position: fixed;
    bottom: 1.5rem;
    left: 2rem;

    a {
        display: none;

        svg {
            fill: none;
            stroke-width: 1;
            stroke: black;
        }

        & {
            width: 100%;
        }
    }
}


// ERROR PAGE

.error {
    padding: 1em;
    line-height: 1.2;
    width: 100%;

    h1 {
        font-size: 6em;
        letter-spacing: -0.04em;
    }
}


// MEDIA QUERIES

@media screen and (max-width: 1024px) {
    .project {
        .project-description {
            float: none;
            width: auto;
            margin-bottom: 1.25rem;
            position: static;
        }
        
        .images {
            margin: 0;
        }
    }
}

@media screen and (max-width: 767px) {

    // GENERAL
    
    body {
        font-size: 1em;
        line-height: 1.3;
        margin: 0;
    }

    // SIDEBAR
    
    aside {
        font-size: 1.125em;
        width: auto;
        padding: 1.5em 1em 1em;
        border-bottom: 1px solid #000;

        & > div {
            position: static;
        }
    }
    
    #menu {
        line-height: 1.8;
    }
    
    // CONTENT
	
    main {
        display: block;
        padding: 1rem 0;
        border: none;

        .content-wrapper {
            width: 100%;
            padding: 0 1rem 1rem;
        }

        aside {
            padding-top: 0;
            margin-right: 0;
        }

        .project {
            padding-top: 2rem;
    
            &:not(:last-of-type) {
                border-bottom: 1px solid #000;
                padding-bottom: 2rem;
            }
        }
    }

    // ABOUT

    header {
        position: static;
        flex-direction: column-reverse;
        font-size: 1.125em;
        margin: 0;
        padding: 1em 0 0;
        background: #000;
        
        p, h1, .language-change {
            color: #fff;
        }

        h1 {
            line-height: 1.4em;
        }

        .language-change, .about, .contact, h1 {
            padding: 0 1em 1em;

            // &, p {
            //     color: #fff;
            // }

            a {
                color: inherit;
            }
        }

        .language-change {
            border-bottom: 1px solid #fff;

            a {
                display: inline;
                margin-right: .5em;
            }
        }

        .about-wrapper {
            display: block;
            
            .about {
                max-width: 100%;
                margin: 1em 0 0;
            }
        }

    }

    // FOOTER

    footer {
        left: auto;
        right: 1rem;
        bottom: 1rem;
    }

    // ERROR PAGE

    .error {
        h1 {
            font-size: 2em;
        }
    }
}