$descriptionWidth: 22.5rem;
$menuWidth: 12.5rem;
$gutter: 1.5rem;
$lineHeight: 22px;

.underline {
    border-bottom: 1px solid #000;
}

.page-link {
    @extend .underline;

    &:hover {
        border-bottom: none;
    }
}

.menu-link {
    &:hover {
        @extend .underline;
    }
}

@mixin rotate($angle) {
    -webkit-transform: rotate($angle);
       -moz-transform: rotate($angle);
        -ms-transform: rotate($angle);
            transform: rotate($angle);
}