---
---

<div id="{{ page.id | remove: '/projects/'}}">

    <article>

        <div class="project-description">

            <h3 class="title">{{ page.title }}</h3>

            {{ content }}

        </div>

        <div class="images">

            {% for image in site.static_files %}

                {% capture path %}{{ page.id | remove: "/projects/" | prepend: "/images/"}}{% endcapture %}
                
                {% if image.path contains path %}
                
                	{% unless image.basename contains '@2x' %}

						<div class="img-wrapper">
							<img class="load" data-srcset="{{ site.url }}{{ image.path }} 1x, {{ site.url }}{{ image.path | remove: ".jpg" | append: "@2x.jpg" }} 2x"> 
						</div>
                
                	{% endunless %}

                {% endif %}

            {% endfor %}

        </div>

    </article>

</div>