---
---

{% capture project %}{{ page.id | remove: '/projects/'}}{% endcapture %}

<div id="{{ project }}">

    <article>

        <div class="project-description">

            <h3 class="title">{{ page.title }}</h3>

            {{ content }}

        </div>

        <div class="images">
           
           	{% capture language %}alt-{{ site.active_lang }}{% endcapture %}
           	
			{% for image in site.data[project] %}
     			<div class="img-wrapper">
     				<picture>
     					<source media="(min-width: 767px)" data-srcset="/images/{{ project }}/{{ image.filename }}.jpg, /images/{{ project }}/{{ image.filename }}@2x.jpg 2x">
						<img class="lazyload" src="{{ site.filename }}/images/placeholder.png" data-src="/images/{{ project }}/{{ image.filename }}.jpg" alt="{{ image[language] }}">
					</picture>
				</div>
      		{% endfor %}
       
        </div>

    </article>

</div>